@model IEnumerable<OnParTicketApp.Models.ViewModels.Shop.ProductVM>

@{
    ViewBag.Title = ViewBag.CategoryName;
}
@using PagedList.Mvc;
@using PagedList;
@if (!Model.Any())
{
    <h3 class="text-center">There are no listings under this category.</h3>
}
<h2>@ViewBag.CategoryName</h2>

<table class="table">
    <tr>
        <th>
            Seller
        </th>
        <th>
            Name
        </th>
        <th>
            Description
        </th>
        <th>
            Price
        </th>
        <th>
            Image
        </th>
        <th>
            Reservation Date
        </th>
        <th>
            Is Verified
        </th>
        <th></th>
    </tr>

    @foreach (var item in ViewBag.OnePageOfProducts)
    {
        <tr>
            <td>
                @item.Username
            </td>
            <td>
                @item.Name
            </td>
            <td>
                @item.Description
            </td>
            <td>
                $@item.Price
            </td>
            <td>
                <a href="/shop/product-details/@item.Slug">
                    <img src='@Url.Action("GetImage", "Shop", new { id = item.Id })' width="200" height="200" />
                </a>
            </td>
            <td>
                @item.ReservationDate
            </td>
            <td>
                @item.Verified
            </td>
            <td>
                <a href="/shop/product-details/@item.Slug">Details</a>
            </td>
        </tr>
    }

</table>

@Html.PagedListPager((IPagedList)ViewBag.OnePageOfProducts, page => Url.Action("Category", new { page, catId = ViewBag.SelectedCat }))