@model IEnumerable<OnParTicketApp.Models.ViewModels.Shop.ProductVM>

@{
    ViewBag.Title = "Listings";
}

@using PagedList.Mvc;
@using PagedList;

<h2>Listings</h2>



<br /> <br />


@if (TempData["SM"] != null)
{
    <div class="alert alert-success">
        @TempData["SM"]
    </div>
}

<table class="table">
    <tr>
        <th>
            Seller
        </th>
        <th>
            Name
        </th>
        <th>
            Description
        </th>
        <th>
            Category
        </th>
        <th>
            Price
        </th>
        <th>
            Image Name
        </th>
        <th>
            Reservation Date
        </th>
        <th>
            Is Verified
        </th>
        <th>
            Download PDF
        </th>
        <th></th>
    </tr>

    @foreach (var product in ViewBag.OnePageOfProducts)
    {
    <tr>
        <td>
            @product.Username
        </td>
        <td>
            @product.Name
        </td>
        <td>
            @product.Description
        </td>
        <td>
            @product.CategoryName
        </td>
        <td>
            $@product.Price
        </td>
        <td>
            <a href="/admin/shop/EditProduct/@product.Id">
                <img src='@Url.Action("GetImage", "Shop", new { id = product.Id })' width="200" height="200" />
            </a>
        </td>
        <td>
            @product.ReservationDate
        </td>
        <td>
            @product.Verified
        </td>
        <td>
            @if (User.IsInRole("Admin"))
            {
                @Html.ActionLink("Download PDF", "DownloadPdf", new { id = product.Id })
            }
        </td>
        <td>
            @Html.ActionLink("Edit", "EditProduct", new { id = product.Id }) |
            @Html.ActionLink("Delete", "DeleteProduct", new { id = product.Id }, new { @class = "delete" })
        </td>
    </tr>
    }
</table>

@Html.PagedListPager((IPagedList)ViewBag.OnePageOfProducts, page => Url.Action("Products", new { page, catId = ViewBag.SelectedCat }))

@section Scripts{
    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>
    <script>

        $(function () {

            /*
             *Confirm page deletion
             */

            //////////////////////////////////////////////////////


            /*
             *Confirm page deletion
             */
            $("a.delete").click(function () {
                if (!confirm("Are you sure you would like to delete this listing?")) return false;
            });

            //////////////////////////////////////////////////////


        });
    </script>

}
